
services:
  # ========================================
  # POSTGRESQL
  # ========================================
  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: renydb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    command: >
      postgres
      -c log_statement=all
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d renydb"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ========================================
  # PGADMIN
  # ========================================
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    ports:
      - "8081:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./pgadmin-servers.json:/pgadmin4/servers.json:ro
      - ./postgres/CREATION.sql:/docker-entrypoint-initdb.d/init.sql 
    entrypoint: |
      /bin/sh -c '
        sleep 2;
        if [ ! -f /var/lib/pgadmin/servers.json ]; then
          cp /pgadmin4/servers.json /var/lib/pgadmin/servers.json || true;
          chmod 600 /var/lib/pgadmin/servers.json || true;
        fi;
        /entrypoint.sh
      '

  # # ========================================
  # # BACKEND GO
  # # ========================================
  backend:
    image: golang:1.25.4
    container_name: go-backend
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=admin
      - DB_NAME=renydb
      - DB_SSLMODE=disable
      - SERVER_PORT=3000
    ports:
      - "3000:3000"
    dns:
      - 8.8.8.8
      - 8.8.4.4 
    command: ["go", "run", "main.go"]  # Simplifié, et dans le bon dossier
    volumes:
      - .:/app
    working_dir: /app
    
  backoffice:
    build:
      context: ./backoffice
      dockerfile: Dockerfile
    container_name: backoffice
    restart: unless-stopped
    develop:                   # ← LA NOUVELLE SECTION MAGIQUE
      watch:
        - action: rebuild        # synchronise les fichiers en live
          path: ./backoffice      # dossier sur ton host
          target: /app
    depends_on:
      - backend
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
    # profiles: ["front"]

  vitrine:
      build:
        context: ./vitrine
        dockerfile: Dockerfile
      container_name: vitrine
      restart: unless-stopped
      develop:                   # ← LA NOUVELLE SECTION MAGIQUE
        watch:
          - action: rebuild        # synchronise les fichiers en live
            path: ./vitrine       # dossier sur ton host
            target: /app
      depends_on:
        - backend
      ports:
        - "3002:4173"
      environment:
        - NODE_ENV=production       
      # profiles: ["front"]

volumes:
  postgres-data:
    driver: local
  pgadmin-data:
    driver: local