.hero {
  position: relative;
  background-image: url(../assets/heroSectionImage.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: calc(var(--mantine-spacing-xl) * 6);
  z-index: 1;
  position: relative;

  @media (max-width: 768px) {
    /* height: 500px; */
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  }
}

.title {
  color: var(--mantine-color-white);
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
/* 
  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 1.2;
  } */

  /* @media (max-width: 576px) {
    font-size: 28px;
    line-height: 1.3;
  } */
}

.description {
  color: var(--mantine-color-white);
  max-width: 600px;

  /* @media (max-width: 768px) {
    max-width: 100%;
    font-size: 768px;  } */
}

.control {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: 768px) {
    width: 100%;
  }
}